*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; /*Propiedad que nos permite que la caja tenga el tamaño representativo - Evita futuros inconvenientes con el responsive*/
}
html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    background-color: #d0f1ea;
    min-height: 100%;
}
section{
    width: 100%;
}
#contenedor{
    display: grid;
    grid-template-areas: 
    "header"
    "section1"
    "aside"
    "section3"
    "footer"
    ;
    grid-row-gap: 2rem;
    height: 100vh;
    width: 100%;
    justify-items: center;
    align-items: center center; 
}
/*760*/
@media (max-width:765px) {
    #contenedor{
        grid-template-areas: 
    "header"
    "section1"
    "aside"
    "section3"
    "footer"
    ;
    }
}
/*360*/
/*@media (max-width:360px) {
    #contenedor{
        grid-template-areas: 
    "header"
    "section1"
    "section3"
    "aside"
    "footer"
    }
}

/* INICIO ENCABEZADO */
#Encabezado{
    background-color: #236d77;
    width: 100%;
    top:0;
    padding: 0rem;
    grid-area: header;
}
.InicioDeEncabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}
.InicioDeEncabezado img{
    height: 15rem;
    width: 15rem;
    margin-left: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.datosYnav{
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: wrap;
}
.datosYnav p{
    font-weight:lighter;
    text-decoration: overline;
    color: #d0f1ea;
    margin-top: 3rem;
    margin-left: 10rem;
    display: inline;
}
.datosYnav nav{
    margin-right: 2rem;
    margin-top: 8rem;
    left: 2rem;
    justify-content:space-evenly;
}
.datosYnav nav ul{
    list-style: none;
}
.datosYnav nav ul li{
    display: inline-block;
    position: relative;
}
.datosYnav nav ul li a{
    display: block;
    padding:6px 2rem;
    transition: all 0.2s linear;
    color: #ffff;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    text-shadow: 3px 3px 3px rgba(127, 255, 212, 0.637);
    font-size: 2.3rem;
}
.datosYnav nav ul ul {
    position:absolute;
    display: none;
}
.datosYnav nav ul ul li{
    display: block;
}
.datosYnav nav ul li a:hover{
    background-color: #5b9283;
    color: rgb(6, 85, 72);
    display: block;
    text-shadow: 2px 2px 2px rgba(126, 253, 211, 0.788)
}
.datosYnav nav li:hover ul{
    display: block;
}
/* PARALLAX DE TODA LA PAGINA + IMAGENES */
.parallax{
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    max-width: 100%;
    color: white;
    font-size:x-large;
    font-weight: bold;
    text-align: center center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    border: solid #ffff 1rem;
    width: 100%;
} 
.parallax2{
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    max-width: 100%;
    color: white;
    font-size:x-large;
    font-weight: bold;
    text-align: center center;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    border: solid #ffff 1rem;
}
.parallax h2{
    font-size: 4rem;
}
.imgQuienesSomos{
    background-image: url(../Images/Centro\ integral2.jpg);
}
.imgComoLlegar{
    background-image:url(../Images/como_llegar_1.jpg);
}
.imgServiciosmedicos{
    background-image: url(../Images/Cuáles-son-las-especialidades-médicas-más-complicadas.jpg);
}
.imgAtencionApacientes{
    background-image: url(../Images/Atencion\ a\ pacientes.jpg);
}
.imgTurnos{
    background-image: url(../Images/turnos\ \(2\).jpg);
}
.imgContacto{
    background-image: url(../Images/contactos.jpg);
    background-size:cover;
}
/* HOME - QUIENES SOMOS */
#section1{
    grid-area: section1;
}
.quienesSomos{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
}
.quienesSomos p{
    color: rgb(6, 85, 72);
    text-align: justify;
    background-color: #d0f1ea;
    margin: 10px 100px 10px 10px;
    font-size: 1.2rem;
}
.quienesSomos__horarios{
    display: flex;
    flex-direction: column;
    background-color:#52eec480;
    border: solid 5px rgb(255, 255, 255);
    border-radius: 5px;
    margin: 20px 70px 20px 50px;
    left: 3rem;
    right: 5rem;
    padding:30px 30px 30px 30px;
}
.quienesSomos__horarios h3{
    color: #236d77;
    text-shadow:4px 4px 4px rgb(253, 253, 253);
    margin-bottom: 20px;
    text-align: center;
}
.quienesSomos__horarios img{
    height: 4rem;
    width: 4rem;
    right: 10px;
    background-color: white;
    border-radius: 100%;
    display: inline-block;
    margin-left: 10rem;
}
.quienesSomos__horarios table{
    border-color:#5b9283;
    color:#236d77;
    justify-content: center;
}
.quienesSomos__horarios table td{
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}
.quienesSomos__horarios button{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(209, 223, 218, 0.637);
    color: rgb(6, 85, 72);
    border-radius: 10px;
    width: 10rem;
    margin-bottom: 5px;
    margin-left: 7rem;
    margin-right: 7rem;
    align-items: center;
}
.quienesSomos__horarios button:hover{
    color:rgb(255, 255, 255);
    background-color: #236d77;
}
/* INDEX - CONTENIDO RELLENO*/
/*#section2{
    grid-area: section2;
}
.covid19Card{
    background-repeat: no repeat;
    background-size:cover;
    border: solid #236d77;;
    border-radius: 50px;
    background-image: url(../Images/backgroundCOVID.jpg);
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 2rem;
}
.covid19Card p{
    margin: 2rem 2rem 2rem 2rem;
}
.covid19Card img{
    height: 40rem;
    width: 60rem;
    border: solid white;
    margin-left: 19rem;
    margin-top: 2rem;
}
.covid19Card h3{
    margin: 2rem 2rem 2rem 2rem;
}
.covid19Card strong{
    margin: 2rem 2rem 2rem 2rem;
}
.covid19Card button{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(209, 223, 218, 0.637);
    color: rgb(6, 85, 72);
    border-radius: 10px;
    width: 10rem;
    margin-left: 35rem;
    margin-bottom: 2rem;
}
.covid19Card button:hover{
    color:rgb(255, 255, 255);
    background-color: #236d77;
}*/
#aside{
    grid-area: aside;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    background-color:#236d77;
}
#aside iframe{
    height: 25rem;
    width: 45rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
/* INDEX - COMO LLEGAR */
#section3{
    grid-area: section3;
}
.comoLlegar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.comoLlegar iframe{
    border-radius: 5px;
    height: 500px;
    width: 50%;
}
.comoLlegar--ubicacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 50%;
    color: rgb(6, 85, 72);
    background-color: white;
    background-image: url(../Images/pin-de-ubicacion.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50%;
    border: solid 5px rgb(255, 255, 255);
    font-size: 2.5rem;
}
.comoLlegar--ubicacion ul{
    list-style: none;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.comoLlegar--ubicacion p{
    font-weight: bold;
    text-shadow:4px 4px 4px rgb(128, 128, 128);
}

/* FIN DE INDEX */

/* SERVICIOS MEDICOS */ 
#contenedorServicios{
    display: grid;
    grid-template-areas: 
    "header header"
    "especialidadesmed donarSangre"
    "estudiosyproced estudiosyproced"
    "footer footer"
    ;
    grid-template-columns: auto 400px;
    grid-row-gap: 2rem;
    grid-column-gap: 1rem;
    height: 100vh;
    justify-items: center;
    align-items: center center;
    font-family: 'Oswald', sans-serif;
}
/*760*/
@media (max-width:765px) {
    #contenedorServicios{
        grid-template-areas: 
        "header"
        "especialidadesmed"
        "estudiosyproced"
        "donarSangre"
        "footer"
        ;
    }
}
/*360*/
@media (max-width:360px) {
    #contenedorServicios{
        grid-template-areas: 
        "header"
        "especialidadesmed"
        "estudiosyproced"
        "donarSangre"
        "footer"
        ;
    }
}
/* ESPECIALIDADES MED */
#especialidadesmed{ 
    grid-area: especialidadesmed;
}
.especialidadesCard {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: rgb(6, 85, 72);
}
.Cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center center;
}
.drArgenteCard{
    width: 35rem;
    border:solid rgb(6, 85, 72);
    border-radius: 5rem;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    background-color: #ffff;
    margin: left 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: rgb(6, 85, 72);
    font-size: 1.2rem;
    background-image: url(../Images/hueso.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50%;
}
.drArgenteCard:hover{
    transform: translate(10px,-10px);
    box-shadow: 10px 10px 10px rgb(6, 85, 72);
}
.drArgenteCard img{
    border-radius: 80px;
}
.drArgenteCard ul li{
    text-align: justify;
    list-style: none;
}
.profesionalesMedicos table{
    background-color: #ffff;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border:solid #5b9283;
    text-align: center;
    transition: transform 2s;
}
.profesionalesMedicos table:hover{
    transform: scaleY(1.1);
    transform: scaleX(1.1);
    box-shadow: 10px 10px 10px rgb(6, 85, 72)
}
/* ESTUDIOS Y PROCEDIMIENTOS */
#estudiosyproced{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: rgb(6, 85, 72);
    background-color: #84d9c3;
    grid-area: estudiosyproced;
    border-radius: 5rem;
}
#estudiosyproced p{ 
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
#donarSangre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:transparent;
    grid-area: donarSangre;
}
#donarSangre img{
    height: 60rem;
    width: 40rem;
}
#donarSangre iframe{
    height: 60rem;
    width: 40rem;
}
#donarSangre h3{
    color: #236d77;
    text-shadow:4px 4px 4px rgb(253, 253, 253);
    margin-bottom: 20px;
    text-align: center center;
    border-radius: 5rem;
    background-color: white;
    padding: 3rem;
}
/* ATENCION AL PACIENTE */ 
#contenedorAtencionAlPaciente{
    display: grid;
    grid-template-areas: 
    "header"
    "section1-Parallax-AtencionApacientes"
    "section2-PreguntasFrecuentes "
    "section3-Recetas"
    "footer "
    ;
    grid-row-gap: 2rem;
}
/*760*/
@media (max-width:765px) {
    #contenedorAtencionAlPaciente{
        grid-template-areas: 
        "header"
        "section1-Parallax-AtencionApacientes"
        "section2-PreguntasFrecuentes"
        "section3-Recetas"
        "footer"
        ;
    }
}
/*360*/
@media (max-width:360px) {
    #contenedorAtencionAlPaciente{
        grid-template-areas: 
        "header"
        "section1-Parallax-AtencionApacientes"
        "section2-PreguntasFrecuentes"
        "section3-Recetas"
        "footer"
        ;
    }
}

/*PARALLAX*/
#section1-Parallax-AtencionApacientes{
    grid-area: section1-Parallax-AtencionApacientes;
}
/* PREGUNTAS FRECUENTES */
#section2-PreguntasFrecuentes{
    grid-area: section2-PreguntasFrecuentes;
}
.preguntasFrecuentes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgb(6, 85, 72);
    background-image: url(../Images/preguntas-mas-frecuentes.png);
    background-repeat:no-repeat ;
    background-size: 20%;
    background-position: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 8rem;
}
.preguntasFrecuentes ul{
    list-style: none;
    border-radius: 5px;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.preguntasFrecuentes a{
    text-decoration: none;
    font-style: italic;
    color: rgb(6, 85, 72);;
}
.preguntasFrecuentes h2{
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* RECETAS */
#section3-Recetas{
    grid-area:section3-Recetas;
}
.inicioRecetas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: rgb(6, 85, 72);
    background-color: white;
    border-radius: 8rem;
}
.inicioRecetas ul{
    list-style: none;
    margin-left: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.inicioRecetas ul strong{
    margin-left: 3rem;
}
.Recetas form{
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    margin-top: 2rem;
    margin-left: 15rem;
    margin-bottom: 2rem;
    margin-right: 15rem;
    height: 70rem;
    color: rgb(6, 85, 72);
    font-size: 1.4rem;
    background-image: url(../Images/receta.png);
    background-repeat: no-repeat;
    background-size: 40rem;
    background-position: 50%;
    border-radius: 8rem;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.Recetas form textarea{
    background-color: transparent;
    width: 48rem;
    margin-left: 7px;
}
.Recetas form input{
    background-color: rgba(127, 255, 212, 0.637);
}
.Recetas form select{
    background-color: rgba(127, 255, 212, 0.637);
    font-family: 'Oswald', sans-serif;
}
.Recetas form .botonEnviar{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(127, 255, 212, 0.637);
    color: rgb(6, 85, 72);
    width: 10rem;
    margin-bottom: 5px;
    margin-left: 15rem;
}
.Recetas form .botonLimpiar{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(127, 255, 212, 0.637);
    color: rgb(6, 85, 72);
    width: 10rem;
    margin-bottom: 5px;
}
.Recetas form .botonLimpiar:hover{
    color:rgb(6, 85, 72);
    background-color: #84d9c3;
}
.Recetas form .botonEnviar:hover{
    color:rgb(6, 85, 72);
    background-color: #84d9c3;
}
.Recetas form legend{
    font-weight:bold;
}
/* ASIDE TELEMEDICINA
#Aside-telemedicina{
    grid-area: Aside-telemedicina;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top,#236d77,#37a8ac,white);
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 8rem;
    border: solid rgb(6, 85, 72) 1px;
    color: rgb(6, 85, 72) ;
    }
#Aside-telemedicina img{
    height: 200px;
    width: 240px;
}
#Aside-telemedicina p{
    margin: 1rem
}#Aside-telemedicina .progamacionDeTurnos{
    background-color: rgb(163, 162, 162);
    color: black;
    font-size: 1.5rem;
    border: solid black 2px;
}
#Aside-telemedicina h3{
    color: #236d77;
    text-shadow:4px 4px 4px rgba(32, 32, 32, 0.425);
    margin-bottom: 20px;
    font-size: 2rem;
}*/

/* TURNOS */
#contenedorTurnos{
    display: grid;
    grid-template-areas: 
    "header"
    "section1-turnos"
    "section2-turnos"
    "footer"
    ;
    grid-row-gap: 2rem;
}
/*760*/
@media (max-width:765px) {
    #contenedorContacto{
        display: grid;
        grid-template-areas: 
        "header"
        "section1-turnos"
        "section2-turnos"
        "footer"
        ;
    }
}
/*360*/
@media (max-width:360px) {
    #contenedorContacto{
        display: grid;
        grid-template-areas: 
        "header"
        "section1-turnos"
        "section2-turnos"
        "footer"
        ;
    }
}
#section1-turnos{
    grid-area: section1-turnos;
}
#section2-turnos{
    grid-area: section2-turnos;
}
.turnos {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgb(6, 85, 72);
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 120rem;
}
.turnos form{
    background-color: transparent;
    color: rgb(6, 85, 72);
    height: 40rem;
    width: 30rem;
}
.turnos form input{
    background-color: rgba(127, 255, 212, 0.637);
}
.turnos form select{
    background-color: rgba(127, 255, 212, 0.637);
    font-family: 'Oswald', sans-serif;
}
.turnos form .botonEnviar{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(127, 255, 212, 0.637);
    color: rgb(6, 85, 72);
    width: 10rem;
    margin-top: 2rem;
}
.turnos form .botonLimpiar{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(127, 255, 212, 0.637);
    color: rgb(6, 85, 72);
    width: 10rem;
    margin-top: 2rem;
}
.turnos form .botonLimpiar:hover{
    color:rgb(6, 85, 72);
    background-color: #84d9c3;
}
.turnos form .botonEnviar:hover{
    color:rgb(6, 85, 72);
    background-color: #84d9c3;
}
/*CONTACTO*/
#contenedorContacto{
    display: grid;
    grid-template-areas: 
    "header"
    "section1-Parallax-Contacto"
    "section2-Contacto"
    "footer"
    ;
    grid-row-gap: 2rem;
}
/*760*/
@media (max-width:765px) {
    #contenedorContacto{
        display: grid;
        grid-template-areas: 
        "header"
        "section1-Parallax-Contacto"
        "section2-Contacto"
        "footer"
        ;
    }
}
/*360*/
@media (max-width:360px) {
    #contenedorContacto{
        display: grid;
        grid-template-areas: 
        "header"
        "section1-Parallax-Contacto"
        "section2-Contacto"
        "footer"
        ;
    }
}
#section1-Parallax-Contacto{
    grid-area:section1-Parallax-Contacto ;
}
#section2-Contacto{
    grid-area:section2-Contacto ;
    grid-row-gap: 2rem;
}
.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.contacto form{
    background-color: transparent;
    height: 68rem;
    width: 60rem;
    color: rgb(6, 85, 72);
    font-size: 1.4rem;
}
.contacto h2{
    font-size: 2rem;
}
.contacto form textarea{
    background-color: transparent;
    width: 48rem;
    margin-left: 7px;
}
.contacto form input{
    background-color: rgba(127, 255, 212, 0.637);
}
.contacto form select{
    background-color: rgba(127, 255, 212, 0.637);
    font-family: 'Oswald', sans-serif;
}
.contacto form .botonEnviar{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(127, 255, 212, 0.637);
    color: rgb(6, 85, 72);
    width: 10rem;
    margin-bottom: 5px;
    margin-left: 15rem;
}
.contacto form .botonLimpiar{
    font-family: 'Oswald', sans-serif;
    background-color: rgba(127, 255, 212, 0.637);
    color: rgb(6, 85, 72);
    width: 10rem;
    margin-bottom: 5px;
}
.contacto form .botonLimpiar:hover{
    color:rgb(6, 85, 72);
    background-color: #84d9c3;
}
.contacto form .botonEnviar:hover{
    color:rgb(6, 85, 72);
    background-color: #84d9c3;
}

/* FOOTER */
#Piedepagina{
    /*background-color: rgb(6, 85, 72);*/
    top: 5rem;
    width: 100%;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #236d77,#236d77,#236d77,#236d77,#236d77,#236d77,#d0f1ea);

}
.footer{
    display: flex;
    flex-direction: row;
    justify-items: center center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer img{
    width: 150px;
    height: 150px;
    border: outset white 2px;
}
.footer a{
    text-decoration: none;
    color: #84d9c3;
/*    margin: 30px 50px 0px 50px;*/
}
.footer a:hover {
    color: #d0f1ea;
    font-weight: bold;
    text-shadow: 3px 3px rgba(9, 10, 10, 0.637);
}
.footer p{
    font-size: 80%;
    font-weight: normal;
    text-decoration: overline;
    color: rgba(127, 255, 212, 0.637);
}
.footerFinal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.footerFinal h3{
    font-weight: normal;
    font-size: 80%;
    color: #6DD3CE;
    margin-left: 2rem;
}
.footerFinal a{
    transition: transform 2s;
}
.footerFinal a:hover{
    transform:scaleX(1.2);
    transform:scaleY(1.2)
}
footer p{
    font-size: 15px;
    text-align: end;
}