/* FOOTER */
#Piedepagina{
    top: 5rem;
    width: 100%;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    background: rgba(8, 8, 8, 0.514);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.footer{
    display: flex;
    flex-direction: row;
    justify-items: center center;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2rem;
    margin-top: 2rem;
    a{
        text-decoration: none;
        color: #84d9c3;
        font-size: 1.3rem;
        &:hover{
            color: #d0f1ea;
            font-weight:400;
            text-shadow: 3px 3px rgba(9, 10, 10, 0.637);
        }
    }
}
.lista{
    display: flex;
    flex-direction: row;
    h2{
        font-size: 1.5rem;
    }
}
/*768*/
@media (max-width:768px) {
    .footer{
        display: flex;
        flex-direction: column;
        .lista{
            display: flex;
            flex-direction: column;
        }
    }
}
.lista{
    display: flex;
    flex-direction: row;
}
.tapdesign{
    text-align: center;
    border-top: black;
    background-color: rgb(70, 68, 68);
    color:#84d9c3;
    font-size: 1.2rem;
}
/*.footerFinal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    h3{
        font-weight: bold;
        font-size: 90%;
        margin-left: 2rem;
        text-shadow: 1px 1px rgba(255, 255, 255, 0.637);
    }
    a{
        transition: transform 2s;
        &:hover{
            transform:scaleX(1.2);
            transform:scaleY(1.2)
        }
    }
} */
