*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box; /*Propiedad que nos permite que la caja tenga el tamaño representativo - Evita futuros inconvenientes con el responsive*/
}
html{
    font-size: 62.5%;
    height: 100%;
}
body{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5rem;
    background-color: #d0f1ea;
    min-height: 100%;
}
section{
    width: 100%;
}