@mixin estudios($tipos) {
    @if $tipos == estudio1{
        background-color: aqua;
        color: blue;
    }
    @else if $tipos == estudio2{
        background-color: beige;
        color: violet;
    }
    @else if $tipos == estudio3{
        background-color: greenyellow;
        color: white;
    }
}