$font-html:'Oswald', sans-serif;
$backgroundcolor-html:#d0f1ea;
$colortextos:rgb(6, 85, 72);
$fuentes: 2rem;
/* MAP GET*/
$estiloboton: (
    fondo: rgba(127, 255, 212, 0.637),
    color: rgb(6, 85, 72),
)
