/*CONTACTO*/
.contacto{
    background-image: url(../images/trabajaconnosotros.jpg);
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    overflow: hidden;
    color: #FFFF;
        .medio{
        background: rgba(27, 27, 27, 0.61);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        border-radius: 5px;
    }
}

